@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Josefin+Sans:wght@400;600&display=swap');

:root {
    --color-seccion:  black;
    --color-seccion-clara: grey;
    --armonia-color: #EA8244;
    --melodia-color: #F9C924;
    --ritmo-color: #E46653;
    --fondo-color: #1F6272;
    --adornos-color: #6CA353;
}

#armonia {--color-seccion:#EA8244; --color-seccion-clara: #FFBA91; }
#melodia {--color-seccion: #F9C924; --color-seccion-clara: #FFE690;}
#ritmo {--color-seccion: #E46653; --color-seccion-clara: #FF9F90;}
#fondo {--color-seccion: #1F6272; --color-seccion-clara: #3D96AC;}
#adornos {--color-seccion: #6CA353; --color-seccion-clara: #8ED36F;}


body {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.consola {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column; 
    background-color: #d8d8d8;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    gap:20px;
}

.controles { /* Seccion de control de parametros (Fila de arriba)*/
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.control-panel { /* Control de parametros principal*/
    width: 10%; /* Ancho del panel de control */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #a6a6a6;
    border: 3px solid;
    border-color: #7D7D7D;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
}

.titulo {
    font-size: 100%;
    font-weight: bold;
    margin: 0px;
}
.etiqueta {
    font-size: 80%;
    font-weight: normal;
    margin-top: 5px;
}
.entrada-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tempo {
    width: inherit;
    height: 45px;
    background-color: #d9d9d9;
    border-radius: 12px;
}


.deslizador-item { /* Deslizadores */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deslizador-circular {
    width: 55px;
    height: 55px;
    position: relative;
    display: block;
}

.deslizador-circular .circulo-exterior {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-seccion);
    position: absolute;
    top: 0;
    left: 0;
}

.deslizador-circular .circulo-interior {
    width: 65%;
    height: 65%;
    border-radius: 50%;
    background-color: var(--color-seccion-clara);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.deslizador-circular .indicador {
    width: 46%;
    height: 10%;
    background-color: #d9d9d9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left center;
    transform: translate(-50%, -50%) rotate(0deg);
    border-color: var(--color-seccion);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}

.controles-reproduccion { /*Botones de reproducir y parar la consola en general*/
    display: flex;
    flex-direction: row;
   	align-items: center;
    gap: 10px;
}

#encender, #reiniciar {
    width: 40px;
    height: 40px;
    flex: 1;  
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #d9d9d9;
    font-size: 18px;
    font-weight: bold;
}

#encender.activo {
    background-color: #9ee99e; /* Color verde cuando está activo */
}

#encender i {
    color: red; /* Color rojo cuando está inactivo */
}

#encender.activo i {
    color: black; /* Color negro cuando está activo */
}

.visualizador {
    height: 100%;
    flex: 1;   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #b3b3b3;
}

.control-audios {
    height: 100%;
    display: flex;
    flex: 1;
    gap: 10px;
}

.control-categoria {   
    width: 20%; /* Ancho de las secciones */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid; /* Borde de color específico */
    border-radius: 12px; /* Bordes curvos */
    border-color: var(--color-seccion);
    padding: 10px;
    text-align: center;
}

/* Sección de los botones para los audios*/ 
.selectores-audios {
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.silencio-solo {
    display: flex;
    flex-direction: row;
    border: 3px solid transparent;
    border-radius: 12px;
    text-align: center;
    gap: 20px;
}
.silencio, .solos{
    width: 100%;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos de forma equitativa */
    flex-direction: column;
    align-items: center;
}
.mute, .solo {
    width: 45px;
    height: 45px;
    background-color: #b3b3b3;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mute.activo {
    background-color: #f78282; /* Color rojo cuando está activo */
}

.solo.activo {
    background-color: #93bcee; /* Color azul cuando está activo */
}
.audios {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.fila {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Espacio entre elementos en la fila */
}

.selector {
    height: 100%;
    flex: 1;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}


.armonia{background-color: var(--armonia-color);}
.melodia{background-color: var(--melodia-color);}
.ritmo{background-color: var(--ritmo-color);}
.fondo{background-color: var(--fondo-color);}
.adornos{background-color: var(--adornos-color);}

